{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div class="nk-block nk-block-lg">
    <div class="card card-bordered">
        <form class="nk-stepper stepper-init is-alter nk-stepper-s1" action="#" id="stepper-create-profile">
            <div class="row g-0 col-sep col-sep-md col-sep-xl">
                <div class="col-md-4 col-xl-4">
                    <div class="card-inner">
                        <ul class="nk-stepper-nav nk-stepper-nav-s1 stepper-nav is-vr">
                            <li>
                                <div class="step-item">
                                    <div class="step-text">
                                        <div class="lead-text">Customer Details</div>
                                        <div class="sub-text">Enter the customer information</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="step-item">
                                    <div class="step-text">
                                        <div class="lead-text">Service Request Details</div>
                                        <div class="sub-text">Enter service type</div>
                                    </div>
                                </div>
                            </li>
                            
                            <li>
                                <div class="step-item">
                                    <div class="step-text">
                                        <div class="lead-text">LAN Request/VPN Backhaul Information</div>
                                        <div class="sub-text">Looking for more information</div>
                                    </div>
                                </div>
                            </li>
                            
                            <li>
                                <div class="step-item">
                                    <div class="step-text">
                                        <div class="lead-text">VPS/Voice Request Information</div>
                                        <div class="sub-text">Choose Profile</div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="step-item">
                                    <div class="step-text">
                                        <div class="lead-text">Completed</div>
                                        <div class="sub-text">Review and Submit</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8 col-xl-8">
                    <div class="card-inner">
                        <div class="nk-stepper-content">
                            <div class="nk-stepper-steps stepper-steps">
                                
                                <div class="nk-stepper-step">
                                    <h5 class="title mb-4">Customer Details</h5>
                                    <div class="row g-3">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="form-label" for="cp1-first-name">Company Name</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="cp1-first-name" name="cp1-first-name" placeholder="Company Name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="form-label" for="cp1-last-name">Company Address</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="cp1-last-name" name="cp1-last-name" placeholder="Company Address">
                                                </div>
                                            </div>
                                        </div>
                                       
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="form-label" for="cp1-last-name">Coordinates (Lat, Long)</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="cp1-last-name" name="cp1-last-name" placeholder="Coordinates">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="form-label" for="cp1-last-name">Closest Landmark</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="cp1-last-name" name="cp1-last-name" placeholder="Closest Landmark">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="form-label" for="cp1-last-name">Contact Person</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="cp1-last-name" name="cp1-last-name" placeholder="Contact Person" >
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="form-label" for="cp1-last-name">Designation/Job Title</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="cp1-last-name" name="cp1-last-name" placeholder="Designation">
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="form-label" for="cp1-last-name">Department</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="cp1-last-name" name="cp1-last-name" placeholder="Department">
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="form-label" for="cp1-last-name">Mobile Number</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="cp1-last-name" name="cp1-last-name" placeholder="Mobile Number">
                                                </div>
                                            </div>
                                        </div>
                                       
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="form-label" for="cp1-contact-email">Contact Email</label>
                                                <div class="form-control-wrap">
                                                    <input type="email" class="form-control" id="cp1-contact-email" name="cp1-contact-email" placeholder="info@softnio.com">
                                                </div>
                                            </div>
                                        </div>
                                      <!--  <div class="col-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="cp1-profile-description">Description</label>
                                                    <div class="form-control-wrap">
                                                        <textarea class="form-control form-control-sm" id="cp1-profile-description" name="cp1-profile-description" placeholder="Write Profile Description" required></textarea>
                                                    </div>
                                                </div>
                                            </div> 
                                        -->
                                    </div>
                                    <hr/>
                                    <h5 class="title mb-4">Service Request Details</h5> 
                                    <div class="row g-3">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="form-label" for="cp1-team-size">Select Service Type</label>
                                                <div class="form-control-wrap">
                                                    <select class="form-select js-select2" id="cp1-team-size" name="cp1-team-size" data-placeholder="Internet" required>
                                                        <option value="01-10">Internet</option>
                                                        <option value="10-20">10-20</option>
                                                        <option value="20-30">20-30</option>
                                                        <option value="30-50">30-50</option>
                                                        <option value="50-100">50-100</option>
                                                        <option value="above-100">Above 100</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="form-label" for="cp1-team-size">If Collaboration, Select power</label>
                                                <div class="form-control-wrap">
                                                    <select class="form-select js-select2" id="cp1-team-size" name="cp1-team-size" data-placeholder="Choose Power(KW)" required>
                                                        <option value="1KW">1KW</option>
                                                        <option value="2KW">2KW</option>
                                                        <option value="3KW">3KW</option>
                                                        <option value="4KW">4KW</option>
                                                        <option value="5KW">5KW</option>
                                                        <option value="6KW">6KW</option>
                                                        <option value="7KW">7KW</option>
                                                        <option value="8KW">8KW</option>
                                                        <option value="9KW">9KW</option>
                                                        <option value="10KW">10KW</option>
                                                        <option value="15KW">15KW</option>
                                                        <option value="20KW">20KW</option>
                                                        <option value="30KW">30KW</option>
                                                        <option value="40KW">40KW</option>
                                                        <option value="50KW">50KW</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                       
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="form-label" for="cp1-team-size">If Collaboration, Select space</label>
                                                <div class="form-control-wrap">
                                                    <select class="form-select js-select2" id="cp1-team-size" name="cp1-team-size" data-placeholder="Choose Power(KW)" required>
                                                        <option value="1U">1U</option>
                                                        <option value="2U">2U</option>
                                                        <option value="4U">4U</option>
                                                        <option value="9U">9U</option>
                                                        <option value="12U">12U</option>
                                                        <option value="18U">18U</option>
                                                        <option value="24U">24U</option>
                                                        <option value="27U">27U</option>
                                                        <option value="42U">42U</option>
                                                        <option value="48U">48U</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="form-label" for="cp1-team-size">Last mile mode of connection:</label>
                                                <div class="form-control-wrap">
                                                    <select class="form-select js-select2" id="cp1-team-size" name="cp1-team-size" data-placeholder="Choose Power(KW)" required>
                                                        <option value="1U">FIBER</option>
                                                        <option value="2U">MICROWAVE</option>
                                                        <option value="4U">FIBER OR MICROWAVE</option>
                                                        <option value="9U">FIBER AND MICROWAVE</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="form-label" for="cp1-team-name">If Microwave; confirm mast availability and height</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="cp1-team-name" name="cp1-team-name" placeholder="Team name">
                                                </div>
                                            </div>
                                        </div>                                  
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="form-label" for="cp1-team-size">Interface type</label>
                                                <div class="form-control-wrap">
                                                    <select class="form-select js-select2" id="cp1-team-size" name="cp1-team-size" data-placeholder="Choose Power(KW)">
                                                        <option value="ELECTRICAL">ELECTRICAL</option>
                                                        <option value="OPTICAL">OPTICAL</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>                                 
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="form-label" for="cp1-team-size">Bandwidth</label>
                                                <div class="form-control-wrap">
                                                    <select class="form-select js-select2" id="cp1-team-size" name="cp1-team-size" data-placeholder="Choose Power(KW)">
                                                        <option value="1Mbps">1Mbps</option>
                                                        <option value="2Mbps">2Mbps</option>
                                                        <option value="3Mbps">3Mbps</option>
                                                        <option value="4Mbps">4Mbps</option>
                                                        <option value="5Mbps">5Mbps</option>
                                                        <option value="6Mbps">6Mbps</option>
                                                        <option value="7Mbps">7Mbps</option>
                                                        <option value="8Mbps">8Mbps</option>
                                                        <option value="9Mbps">9Mbps</option>
                                                        <option value="10Mbps">10Mbps</option>
                                                        <option value="20Mbps">20Mbps</option>
                                                        <option value="30Mbps">30Mbps</option>
                                                        <option value="50Mbps">50Mbps</option>
                                                        <option value="1STM1">1STM1</option>
                                                        <option value="2STM1">2STM1</option>
                                                        <option value="3STM1">3STM1</option>
                                                        <option value="1Gbps">1Gbps</option>
                                                        <option value="Others">Others</option>
                                                       
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="form-label" for="cp1-team-name">Number of intended users</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="cp1-team-name" name="cp1-team-name" placeholder="Team name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="nk-stepper-step">
                                    <h5 class="title mb-3">LAN Request Information(If applicable)</h5>
                                    <div class="row g-3">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="cp1-team-size">Mode of connection</label>
                                                    <div class="form-control-wrap">
                                                        <select class="form-select js-select2" id="cp1-team-size" name="cp1-team-size" data-placeholder="Internet" required>
                                                            <option value="01-10">Wired</option>
                                                            <option value="10-20">Wireless</option>
                                                            <option value="20-30">Wired + Wireless</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="cp1-team-size">Router available?</label>
                                                    <div class="form-control-wrap">
                                                        <select class="form-select js-select2" id="cp1-team-size" name="cp1-team-size" data-placeholder="Choose Power(KW)" required>
                                                            <option value="Yes">Yes</option>
                                                            <option value="No">No</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="cp1-team-size">Preferred router type: (Kindly specify)</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="cp1-team-name" name="cp1-team-name" placeholder="Team name">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="cp1-team-size">Switch available?</label>
                                                    <div class="form-control-wrap">
                                                        <select class="form-select js-select2" id="cp1-team-size" name="cp1-team-size" data-placeholder="Choose Power(KW)" required>
                                                            <option value="Yes">Yes</option>
                                                            <option value="No">No</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="cp1-team-name">Preferred switch type</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="cp1-team-name" name="cp1-team-name" placeholder="Team name">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="cp1-team-size">Existing Equipment</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="cp1-team-name" name="cp1-team-name" placeholder="Team name">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="cp1-team-size">Rack space available?</label>
                                                    <div class="form-control-wrap">
                                                        <select class="form-select js-select2" id="cp1-team-size" name="cp1-team-size" data-placeholder="Choose Power(KW)">
                                                            <option value="Yes">Yes</option>
                                                            <option value="No">No</option>
                                                        
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="cp1-team-name">Type/Size of Rack</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="cp1-team-name" name="cp1-team-name" placeholder="Team name">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label class="form-label" for="cp1-team-name">Specify if Others above</label>
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="cp1-team-name" name="cp1-team-name" placeholder="Team name">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="cp1-team-name">You want rack supplied?</label>
                                                    <select class="form-select js-select2" id="cp1-team-size" name="cp1-team-size" data-placeholder="Choose Power(KW)">
                                                        <option value="Yes">Yes</option>
                                                        <option value="No">No</option>
                                                    
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="cp1-team-name">Power terminals available for new equipment?</label>
                                                    <select class="form-select js-select2" id="cp1-team-size" name="cp1-team-size" data-placeholder="Choose Power(KW)">
                                                        <option value="Yes">Yes</option>
                                                        <option value="No">No</option>
                                                    
                                                    </select>
                                                </div>
                                            </div>
                                    </div>
                                    <hr/>
                                    <h5 class="title mb-3">VPN/Backhaul</h5>
                                    <div class="row g-3">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label class="form-label" for="cp1-team-size">Mode</label>
                                                <div class="form-control-wrap">
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="cp1-team-name" name="cp1-team-name" placeholder="Enter Mode">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label class="form-label" for="cp1-team-size">Point A</label>
                                                <div class="form-control-wrap">
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="cp1-team-name" name="cp1-team-name" placeholder="Team name">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label class="form-label" for="cp1-team-size">Point B</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="cp1-team-name" name="cp1-team-name" placeholder="Team name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label class="form-label" for="cp1-team-size">VLAN Tag</label>
                                                <div class="form-control-wrap">
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="cp1-team-name" name="cp1-team-name" placeholder="Team name">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label class="form-label" for="cp1-team-name">MTU size</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="cp1-team-name" name="cp1-team-name" placeholder="Team name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label class="form-label" for="cp1-team-size">Latency</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="cp1-team-name" name="cp1-team-name" placeholder="Team name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="form-label" for="cp1-team-size">Jilter</label>
                                                <div class="form-control-wrap">
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="cp1-team-name" name="cp1-team-name" placeholder="Team name">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="form-label" for="cp1-team-size">For P2MP, kindly populate sink locations</label>
                                                <div class="form-control-wrap">
                                                    <div class="form-control-wrap">
                                                        <input type="text" class="form-control" id="cp1-team-name" name="cp1-team-name" placeholder="Team name">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="nk-stepper-step">
                                    <h5 class="title mb-3">VPS Information</h5>
                                    <p>Please fill up your billing info carefull for un-interfered service.</p>
                                    <div class="row g-3">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label class="form-label" for="cp1-name-on-card">Number of Virtual Machines</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="cp1-name-on-card" name="cp1-name-on-card" placeholder="1 , 2, 5">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label class="form-label" for="cp1-card-number">CPU(vCores)</label>
                                                <div class="form-control-wrap">
                                                    <input type="number" minlength="12" maxlength="12" class="form-control" id="cp1-card-number" name="cp1-card-number" placeholder="Dual core, quad core, 6 cores">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label class="form-label" for="cp1-card-number">Memory(GB)</label>
                                                <div class="form-control-wrap">
                                                    <input type="number" minlength="12" maxlength="12" class="form-control" id="cp1-card-number" name="cp1-card-number" placeholder="8GB , 16GB">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label class="form-label" for="cp1-card-number">Storage(GB)</label>
                                                <div class="form-control-wrap">
                                                    <input type="number" minlength="12" maxlength="12" class="form-control" id="cp1-card-number" name="cp1-card-number" placeholder="100GB , 125GB, 250GB, 500GB, 1TB">
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="form-label" for="cp1-card-cvv">Operatiing System(OS)</label>
                                                <div class="form-control-wrap">
                                                    <input type="number" minlength="3" maxlength="4" class="form-control" id="cp1-card-cvv" name="cp1-card-cvv" placeholder="222">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="form-label" for="cp1-card-cvv">Suite</label>
                                                <div class="form-control-wrap">
                                                    <input type="number" minlength="3" maxlength="4" class="form-control" id="cp1-card-cvv" name="cp1-card-cvv" placeholder="Something here">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="form-label" for="cp1-card-cvv">Kindly provide other details</label>
                                                <div class="form-control-wrap">
                                                    <input type="number" minlength="3" maxlength="4" class="form-control" id="cp1-card-cvv" name="cp1-card-cvv" placeholder="222">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr/>
                                    <h5 class="title mb-3">Voice Request Information</h5>
                                    <p>Please fill up your billing info carefull for un-interfered service.</p>
                                    <div class="row g-3">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="form-label" for="cp1-name-on-card">Preffered switch type (Kindly specify)</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="cp1-name-on-card" name="cp1-name-on-card" placeholder="1 , 2, 5">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="form-label" for="cp1-card-number">IP phones required?</label>
                                                <select class="form-select js-select2" id="cp1-team-size" name="cp1-team-size" data-placeholder="Choose Power(KW)" required>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="form-label" for="cp1-card-number">Specify type and number of IP Phones</label>
                                                <div class="form-control-wrap">
                                                    <input type="number" minlength="12" maxlength="12" class="form-control" id="cp1-card-number" name="cp1-card-number" placeholder="8GB , 16GB">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="form-label" for="cp1-card-number">Voice gateway type: (Kindly specify)</label>
                                                <div class="form-control-wrap">
                                                    <input type="number" minlength="12" maxlength="12" class="form-control" id="cp1-card-number" name="cp1-card-number" placeholder="100GB , 125GB, 250GB, 500GB, 1TB">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="nk-stepper-step">
                                    <h5 class="title mb-3">Other Details</h5>
                                    <p>Please fill up your billing info carefull for un-interfered service.</p>
                                    <div class="row g-3">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label class="form-label" for="cp1-name-on-card">Kindly provide other details (If any)</label>
                                                <div class="form-control-wrap">
                                                    <input type="text" class="form-control" id="cp1-name-on-card" name="cp1-name-on-card" placeholder="Enter specific details here">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="nk-stepper-step text-center">
                                    <h5 class="title mb-2">Your Are Done!</h5>
                                    <p class="text-soft">Congrats! Successfully created your Profile</p>
                                    <div class="gfx w-50 mx-auto">
                                        {% include "base/svg.html" %}
                                    </div>
                                </div>
                            </div>
                            <ul class="nk-stepper-pagination pt-4 gx-4 gy-2 stepper-pagination">
                                <li class="step-prev"><button class="btn btn-dim btn-primary">Back</button></li>
                                <li class="step-next"><button class="btn btn-primary">Continue</button></li>
                                <li class="step-submit"><button class="btn btn-primary">Submit</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}